*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


#opening video{
 position:fixed;width:100%;height:100%;object-fit:cover
}

.overlay{
 position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
 text-align:center
}

button{
 background:gold;border:none;padding:10px 20px
}

/* ENVELOPE REAL */
#envelope{
 width:220px;height:150px;
 margin:100px auto;
 perspective:1000px;
}

.top{
 width:100%;height:100%;
 background:#333;
 transform-origin:top;
 transition:1s;
}

body{
  font-family:'Playfair Display', serif;
  background:#0b0b0b;
  color:#fff;
}

section{
  max-width:1200px;
  margin:auto;
  padding:40px 20px;
}

/* SLIDE MODE */
.slide{
 width:100vw;height:100vh;
 display:none;
 justify-content:center;
 align-items:center;
 text-align:center;
}

.active{display:flex}

/* FLOWER */
#flowers{
 position:fixed;width:100%;height:100%;
 pointer-events:none;
}

/* =========================
   GALLERY FIX PREMIUM
========================= */
.gallery h2{
  margin-bottom:20px;
}

.gallery-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:15px;
}

/* BIAR GAMBAR GA KEGEDEAN */
.gallery-grid img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:10px;
  transition:0.3s;
}

.gallery-grid img:hover{
  transform:scale(1.05);
}

.gallery-grid img{
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

/* =========================
   RESPONSIVE HP
========================= */
@media(max-width:768px){

  .gallery-grid{
    grid-template-columns:1fr;
  }

  .gallery-grid img{
    height:220px;
  }

  h1{
    font-size:24px;
  }

  h2{
    font-size:20px;
  }
}
